<%= form_with(model: swimmer, local: true) do |form| %>
  <% if swimmer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(swimmer.errors.count, "error") %> prohibited this swimmer from being saved:</h2>

      <ul>
      <% swimmer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :member_number %>
    <%= form.number_field :member_number %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
